.text-hidden {
    display: none;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}


.tabs-link.active {
    background-color: var(--white);
}

.tab-content-item {
    display: none;
}

.tab-content-item.active{
    display: block;
}

